<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sast.crs.mapper.CompetitionMapper">
    <select id="getTableString" parameterType="long" resultType="string">
        SELECT `table`
        FROM competition
        WHERE id = #{id}
    </select>
    <select id="selectSignedCompetitions" resultType="com.sast.crs.entity.Competition">
        SELECT c.*
        FROM team t
                 JOIN competition c ON c.id = t.com_id
        WHERE t.captain = #{userCode}
        ORDER BY t.id DESC
    </select>
</mapper>